@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;400;700&family=Lora&family=Roboto:wght@100&display=swap');

.Archive {
    min-height: 822px;
    background-color: #FFC773;
    display:flex;
    flex-direction: column;
    width:100%;
}

.Archive_headl {
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
}

.Years_burger {
    display:flex;
    flex-direction: column;

    align-items: center;
    /* justify-content: center; */
}

.Years_wrapper {
    margin-top:60px;
    margin-left:15%;
    width:300px;
    height:100px;

    border-style:solid;
    border-width:2px;
    border-radius:15px;
    background-color: #FFA840;

    justify-content: center;
    align-items: center;
    display:flex;
}

.Years_txt {
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;

    color: #4A2800;
}

.Slider_trigger {
    margin-left:10%;
}

.Arrow {
    /* margin-left:10%; */
    width:30px;
    transition: .2s all linear;
}

.Arrow.active {
    transform:rotate(-180deg);
    transition: .2s all ease-in-out;
}

.Year_choice {  /*Высота одного блока с годом - 65px, двух - 132px, трех - 200px */
    margin-left:15%;
    width:90%;
    height:195px;
    overflow-y: auto;
    overflow-x:hidden;
    /* white-space: nowrap; */

    display: flex;
    flex-direction: column;
    
    align-items: center;

    background-color: lightgray;
    border-style:solid;
    border-top:0px;
    border-bottom:0px;
    border-width:2px;

    position: relative;
    top:-50px;
    visibility: hidden;
    pointer-events:none;
    opacity:0;
    transition: .2s all linear;
}

.Year_choice.active {
    visibility: visible;
    pointer-events:inherit;
    transition: .2s all ease-in-out;
    opacity:1;
    top:0;

}

.Year_t {
    margin-top:5%;
    padding-bottom:5%;
    width:100%;
    
    text-align: center;

    border-style:solid;
    border-width:2px;
    border-top:0px;

    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight: 250;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.1em;
}

.Release_ref:hover {
    
    color:cadetblue;
}

.Release_ref:active {
    color:aliceblue;
}

.Release_years {
    display:flex;
    /* flex-wrap: wrap; */
    
}

.Journals {
    display:flex;
    flex-direction: column;

    margin-top:25px;
    margin-left:17%;
    margin-right:17%;

    max-width: 700px;
}

.Year {
    display:flex;
    flex-direction: column;
    /* justify-content:center; */
}

.Number {
    margin-left:auto;
    margin-right:auto;

    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;

    color: #FF971B;
    /* color: #FF8B00; */
}

.Line {
    width:100%;
}

.Publications {
    margin-top:20px;
    margin-bottom:50px;

    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:20px;
}

.Cover {
    width:200px;
}

.Years_ref {
    color:#FF971B;
}



/* @media (min-width:100px) and (max-width:400px) {
    .Release_years {
        flex-wrap:wrap;
    }
} */